<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">
    {{ 'processes.title' | translate }} /
  </span> 
  {{ 'executor.title' | translate }}
</h4>

<form id="formAgents">

  <div class="card md-4">
    <!--<h6 class="card-header">Search</h6>-->
    <div class="card-header">
      <span class="card-header-title mr-2">{{ 'executor.subtitle' | translate }}</span>
    </div>

    <div class="card-body">

      <div class="form-row">
        
        <div class="form-group col-md-12">
          <label class="form-label">{{ 'process.title' | translate }}:</label>
          <select id="idType" name="idType" class="custom-select">
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option *ngFor="let item of jobsProcess" [ngValue]="item.id">{{ item.idProcess }}</option>
          </select>
        </div>
      </div>

      <div class="text-right">
        <button id="idBtnClear" type="button" class="btn btn-default mr-2">{{ 'general.button.clear' | translate }}</button>
        <button id="idBtnSearch" type="button" class="btn btn-default">{{ 'general.button.search' | translate }}</button>      
      </div>
    </div>
  </div>

  <br/>
  <br/>

</form>