<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">
    {{ 'processes.title' | translate }} /
  </span> 
  {{ 'executor.title' | translate }}
</h4>

<form id="formAgents">

  <div class="card md-4">
    <!--<h6 class="card-header">Search</h6>-->
    <div class="card-header">
      <span class="card-header-title mr-2">{{ 'executor.subtitle' | translate }}</span>
    </div>

    <div class="card-body">

      <div class="form-row">

        <div class="form-group col-md-12">
          <label class="form-label">{{ 'process.title' | translate }}:</label>
          <p-autoComplete id="idJobProcess" name="idJobProcess" [(ngModel)]="jobSelected" [suggestions]="filteredJobs" 
            (completeMethod)="filterJobs($event)" field="idProcess"
            class="form-control m-0 p-0 border-0" inputStyleClass="form-control float-left" placeholder="Hint: type 'v' or 'f'" [dropdown]="true">
            <ng-template let-jobSelected pTemplate="item">
              {{jobSelected.idProcess}}
            </ng-template>
          </p-autoComplete>
        </div>
      </div>

      <div class="text-right">
        <button id="idBtnClear" type="button" class="btn btn-default mr-2">{{ 'general.button.clear' | translate }}</button>
        <button id="idBtnSearch" type="button" class="btn btn-default" (click)="execute()">Executar</button>      
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs nav-responsive-md">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#navs-top-execution">Executions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#navs-top-executed">Executed</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade active show" id="navs-top-execution">
          jobs in execution
        </div>
        <div class="tab-pane fade" id="navs-top-executed">
          jobs executed

          <p-table [value]="results" 
                  [paginator]="false"
                  [lazy]="false"
                  styleClass="table-responsive"
                  tableStyleClass="table table-striped table-bordered">
            <ng-template pTemplate="header">
              <tr>
                <th>Job</th>
                <th>Start</th>
                <th>End</th>
                <th class="text-center" style="width: 5%;">{{ 'general.label.status' | translate }}</th>
                <th class="text-center" style="width: 15%;">{{ 'general.label.options' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-result>
              <tr [ngClass]="(result.status === 'COMPLETED') ? 'table-success' : 'table-danger'">
                <td>{{ result.jobName }}</td>
                <td>{{ result.start }}</td>
                <td>{{ result.end }}</td>
                <td class="text-center">
                  <img src="assets/img/process/success.png" *ngIf="result.status === 'COMPLETED'" style="width: 16px;" />
                  <img src="assets/img/process/error.png" *ngIf="result.status === 'FAILED'" style="width: 16px;" />
                </td>
                <td class="text-center">

                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

</form>