<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
      <div class="pt-3">
        <span class="footer-text font-weight-bolder">Lich Job Scheduler</span> ©
      </div>
      <div>
        <a href="javascript:void(0)" class="footer-link pt-3 ml-4" (click)="setLanguage('en')">{{ 'footer.label.english' | translate }}</a>
        <a href="javascript:void(0)" class="footer-link pt-3 ml-4" (click)="setLanguage('pt')">{{ 'footer.label.portuguese' | translate }}</a>
      </div>
    </div>
  </nav>
  <!-- / Layout footer -->
  