<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">
    {{ 'admin.title' | translate}} /
  </span> 
  {{ 'users.title' | translate }}
</h4>

<form id="formUsers">
  <div class="card md-4">
    <!--<h6 class="card-header">Search</h6>-->
    <div class="card-header with-elements">
      <span class="card-header-title mr-2">{{ 'general.title.search' | translate }}</span>
      <div class="card-header-elements ml-md-auto">
        <button type="button" class="btn btn-xs btn-outline-primary" (click)="newUser()">
          <span class="ion ion-md-add"></span>
          {{ 'users.new' | translate }}
        </button>
      </div>
    </div>

    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="form-label">{{ 'general.label.name' | translate }}:</label>
          <input id="idName" type="text" class="form-control" placeholder="{{ 'general.label.name' | translate }}" />
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">{{ 'general.label.status' | translate }}:</label>
          <select id="idStatus" class="custom-select">
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option value="1">{{ 'general.label.enabled' | translate }}</option>
            <option value="0">{{ 'general.label.disabled' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="text-right">
        <button id="idBtnSearch" type="button" class="btn btn-default" (click)="find()">{{ 'general.button.search' | translate }}</button>      
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="card" *ngIf="totalRecords" >
    <div class="card-header">{{ 'users.result' | translate }}</div>

    <p-table [value]="users" 
              [paginator]="true"
              [rows]="5"
              [rowsPerPageOptions]="[5, 10]"
              [lazy]="true"
              [totalRecords]="totalRecords"
              (onLazyLoad)="loadUsers($event)"
              styleClass="table-responsive"
              tableStyleClass="table table-striped table-bordered">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'general.label.name' | translate }}</th>
          <th>{{ 'general.label.email' | translate }}</th>
          <th>{{ 'users.label.phone' | translate }}</th>
          <th style="width: 15%;">{{ 'general.label.status' | translate }}</th>
          <th class="text-center" style="width: 15%;">{{ 'general.label.options' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ (user.status === 1) ? ('general.label.enabled' | translate) : ('general.label.disabled' | translate) }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="editUser(user)" [title]="'general.button.edit' | translate">
              <span class="ion ion-md-create"></span>
            </button>
            <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="enableDisableUser(user)" [title]="'general.button.disable' | translate" *ngIf="user.status === 1">
              <span class="ion ion-md-close"></span>
            </button>
            <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="enableDisableUser(user)" [title]="'general.button.enable' | translate" *ngIf="user.status === 0">
              <span class="ion ion-md-checkmark"></span>
            </button>
            <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="changePassword(user)" [title]="'users.label.password' | translate">
              <span class="ion ion-md-lock"></span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

  <!-- Modal Save Group -->
  <div class="modal fade" id="idModalUserData">
    <div class="modal-dialog modal-lg">
      <form id="formUserSave" class="modal-content" #userForm="ngForm" (ngSubmit)="save(userForm)" >
        <div class="modal-header">
          <h5 class="modal-title">
            {{ 'users.title' | translate }}
            <span class="font-weight-light">{{ 'general.label.data' | translate }}</span>
            <br>
            <small class="text-muted">{{ 'users.insert.subtitle' | translate }}</small>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="userForm.resetForm()">×</button>
        </div>
        <div class="modal-body">
          <div class="form-row" *ngIf="user">
            <div class="form-group col-md-6">
              <label class="form-label">{{ 'general.label.name' | translate }}*:</label>
              <input required id="idNameNew" name="idNameNew" [(ngModel)]="user.name" type="text" 
                class="form-control {{ (idNameNew.invalid && userForm.submitted) ? 'is-invalid' : '' }}" 
                placeholder="{{ 'general.label.name' | translate }}" #idNameNew="ngModel" />
            </div>

            <div class="form-group col-md-6">
              <label class="form-label">{{ 'general.label.email' | translate }}*:</label>
              <input required id="idEmailNew" name="idEmailNew" [(ngModel)]="user.login" type="text" 
                class="form-control {{ (idEmailNew.invalid && userForm.submitted) ? 'is-invalid' : '' }}" 
                placeholder="{{ 'general.label.email' | translate }}" #idEmailNew="ngModel"/>
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'users.label.document' | translate }}:</label>
              <input id="idDocumentNew" name="idDocumentNew" [(ngModel)]="user.document" type="text" class="form-control" placeholder="{{ 'users.label.document' | translate }}" />
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'users.label.registration' | translate }}:</label>
              <input id="idRegistrationNew" name="idRegistrationNew" [(ngModel)]="user.registration" type="text" class="form-control" placeholder="{{ 'users.label.registration' | translate }}" />
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'users.label.phone' | translate }}:</label>
              <input id="idPhoneNew" name="idPhoneNew" [(ngModel)]="user.phone" type="text" class="form-control" placeholder="{{ 'users.label.phone' | translate }}" />
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'users.label.cellphone' | translate }}:</label>
              <input id="idCelPhoneNew" name="idCelPhoneNew" [(ngModel)]="user.phoneCel" type="text" class="form-control" placeholder="{{ 'users.label.cellphone' | translate }}" />
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'users.label.commercialphone' | translate }}:</label>
              <input id="idCommercialPhoneNew" name="idCommercialPhoneNew" [(ngModel)]="user.phoneCommercial" type="text" class="form-control" placeholder="{{ 'users.label.commercialphone' | translate }}" />
            </div>

            <div class="form-group col-md-4">
              <label class="form-label">{{ 'general.label.status' | translate }}*:</label>
              <select id="idStatusNew" name="idStatusNew" [(ngModel)]="user.status" 
                class="custom-select {{ (idStatusNew.invalid && userForm.submitted) ? 'is-invalid' : '' }}"
                #idStatusNew="ngModel">
                <option [ngValue]="1">{{ 'general.label.enabled' | translate }}</option>
                <option [ngValue]="0">{{ 'general.label.disabled' | translate }}</option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label class="form-label w-100">Grupos*:</label>
              <label class="custom-control custom-checkbox col-md-4 float-left" *ngFor="let selectGroup of selectGroups; index as i">
                <input id="idGroup{{ i }}" name="idGroup{{ i }}" type="checkbox" class="custom-control-input" [(ngModel)]="selectGroup.selected" />
                <span class="custom-control-label">{{ selectGroup.model.name }}</span>
              </label>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="userForm.resetForm()">{{ 'general.button.close' | translate }}</button>
          <button type="submit" class="btn btn-primary">{{ 'general.button.save' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal Status User -->
  <div class="modal fade" id="idModalUserStatus">
    <div class="modal-dialog">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ 'users.title' | translate }}
            <span class="font-weight-light">{{ 'general.label.status' | translate }}</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        </div>
        <div class="modal-body">
          <div class="form-row" *ngIf="user">
            <span *ngIf="user.status === 1">{{ 'users.status.disable.confirm' | translate }}</span>
            <span *ngIf="user.status === 0">{{ 'users.status.enable.confirm' | translate }}</span>
            <span class="font-weight-bold" style="white-space: pre-wrap;"> {{ user.name }}</span> ?
          </div>
        </div>
        <div class="modal-footer" *ngIf="user">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.button.no' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="confirmEnableDisableUser(1)" *ngIf="user.status === 0">{{ 'general.button.yes' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="confirmEnableDisableUser(0)" *ngIf="user.status === 1">{{ 'general.button.yes' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

    <!-- Modal Status User -->
    <div class="modal fade" id="idModalChangePassword">
      <div class="modal-dialog">
        <form id="idFormDefinePassword" class="modal-content" #definePasswordForm="ngForm" (ngSubmit)="confirmeChangePassword(definePasswordForm)">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ 'users.title' | translate }}
              <span class="font-weight-light">{{ 'users.label.password' | translate }}</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
          </div>
          <div class="modal-body">
            <div class="form-row" *ngIf="user">
              <div class="form-group col-md-12">
                <label style="white-space: pre-wrap;">
                  {{ 'users.label.definepassword' | translate }} <span class="font-weight-bold">{{ user.name }}</span>:
                </label>
                <input type="text" id="idDefineNewPassword" name="idDefineNewPassword" [(ngModel)]="user.password" 
                  class="form-control {{ (idDefineNewPassword.invalid && definePasswordForm.submitted) ? 'is-invalid' : '' }}" 
                  placeholder="{{ 'users.label.password' | translate }}" #idDefineNewPassword="ngModel" required />
              </div>
            </div>
          </div>
          <div class="modal-footer" *ngIf="user">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.button.close' | translate }}</button>
            <button type="submit" class="btn btn-primary">{{ 'general.button.save' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
