<block-ui>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

    <!-- Layout side bar menu -->
    <app-menu id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme"></app-menu>

    <!-- Layout container -->
    <div class="layout-container">
      
      <!-- Layout nav bar -->
      <app-header></app-header>

      <!-- Layout content -->
      <div class="layout-content">

        <!-- Content -->
        <div class="container-fluid flex-grow-1 container-p-y">
          <router-outlet></router-outlet>
        </div>
        <!-- / Content -->

        <!-- Layout footer -->
        <app-footer></app-footer>

      </div>
      <!-- / Layout content -->

    </div>

  </div>
  </div>
</block-ui>
