.ui-widget, .ui-widget * {
    box-sizing: border-box;
}

.ui-table {
    padding-bottom: 1rem !important;
}

.ui-table table {
    /* border-collapse: unset; */
    width: 100% !important;
    table-layout: unset !important;
}

.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tbody > tr > td,
.ui-table .ui-table-tfoot > tr > td {
    padding: .625rem !important;
    white-space: nowrap !important;
}

.ui-table .ui-table-thead > tr > th:first-child,
.ui-table .ui-table-tbody > tr > td:first-child,
.ui-table .ui-table-tfoot > tr > td:first-child {
    padding-left: 1.5rem !important;
}

.ui-paginator > p-dropdown {
    display: none !important;
}

.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #a3a4a6 !important;
    font-size: .75rem !important;
    min-width: calc(1.5rem + 2px) !important;
    box-sizing: border-box;
    white-space: normal;
    border: 1px solid #d1d2d3;
    border-radius: .25rem;
    text-align: center !important;
    position: relative !important;
    font-family: unset !important;
    border-color: rgba(24,28,33,0.06);
    width: 26px !important;
    height: 26px !important;
}

.ui-paginator .ui-paginator-pages {
    bottom: 2px !important;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding-top: 3px !important;
}

.ui-paginator .ui-paginator-pages .ui-state-active {
    border-color: #26B4FF;
    background-color: #26B4FF;
    color: #fff !important;
}

.ui-calendar .ui-datepicker {
    background-color: white !important;
}

.ui-datepicker td>a {
    cursor: pointer !important;
}

.ui-datepicker td>span {
    opacity: 0.5 !important;
    cursor: default !important;
}

.ui-chips ul {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ui-chips ul > li {
    padding-top: 0px;
}

.ui-chips-token {
    background-color: rgba(24,28,33,0.1) !important;
}

.ui-autocomplete-dd {
    width: 100% !important;
}

.ui-autocomplete-dd .ui-autocomplete-input {
    width: calc(100% - 2em) !important;
    border-right: 0px;
    padding-left: 14px;
}

.ui-autocomplete-dd .ui-autocomplete-dropdown {
    width: 2em !important;
    vertical-align: middle !important;
    padding-top: 13px !important;
    border: 1px solid rgba(24,28,33,0.1);
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
}

.ui-autocomplete-dd .ui-autocomplete-panel .ui-autocomplete-list {
    background-color: white !important;
}