
<form id="formProcessData" *ngIf="operation === operationEnum.INSERT || operation === operationEnum.UPDATE" #processForm="ngForm" (submit)="save(processForm);" novalidate>

  <div class="card md-4">
    <!--<h6 class="card-header">Search</h6>-->
    <div class="card-header with-elements">
      <span class="card-header-title mr-2">{{ 'general.label.data' | translate }}</span>
    </div>

    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-9">
          <label class="form-label">{{ 'process.label.id' | translate }}*:</label>
          <input id="idIdNew" name="idIdNew" type="text" [(ngModel)]="jobProcess.idProcess"
              class="form-control" placeholder="{{ 'process.label.id' | translate }}" required/>
        </div>

        <div class="form-group col-md-3 mt-2">
          <label class="custom-control custom-checkbox mt-4 ml-2">
            <input id="idInnerJobNew" name="idInnerJobNew" type="checkbox" class="custom-control-input" [(ngModel)]="jobProcess.innerJob" />
            <span class="custom-control-label">{{ 'process.label.inner' | translate }}</span>
          </label>
        </div>

        <div class="form-group col-md-12">
          <label class="form-label">{{ 'process.label.description' | translate }}*:</label>
          <textarea id="idDescriptionNew" name="idDescriptionNew" type="textarea" [(ngModel)]="jobProcess.description"
            class="form-control" placeholder="{{ 'process.label.description' | translate }}" required></textarea>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">{{ 'general.label.status' | translate }}*:</label>
          <select id="idStatusNew" name="idStatusNew" class="custom-select" [(ngModel)]="jobProcess.status" required>
            <option [ngValue]="statusEnum.ENABLED">{{ 'general.label.enabled' | translate }}</option>
            <option [ngValue]="statusEnum.DISABLED">{{ 'general.label.disabled' | translate }}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">{{ 'process.label.typeexecution' | translate }}*:</label>
          <select id="idTypeExecutionNew" name="idTypeExecutionNew" class="custom-select" 
            [(ngModel)]="jobProcess.typeExecution" (change)="onChangeTypeExection()" required>
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option [ngValue]="typeExecutionEnum.AUTO">{{ 'process.label.auto' | translate }}</option>
            <option [ngValue]="typeExecutionEnum.MANUAL">{{ 'process.label.manual' | translate }}</option>
          </select>
        </div>

        <div class="form-group col-md-4" *ngIf="typeExecutionEnum.AUTO === jobProcess.typeExecution">
          <label class="form-label">{{ 'process.label.periodicity' | translate }}*:</label>
          <select id="idPeriodicityNew" name="idPeriodicityNew" class="custom-select" 
            [(ngModel)]="jobProcess.periodicity" (change)="onChangePeriodicity()" required>
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option *ngFor="let p of jobProcessData.periodicities" [ngValue]="p.id">{{ p.description }}</option>
          </select>
        </div>

        <div class="form-group col-4" *ngIf="periodicityEnum.DE_MINUTOS_EM_MINUTOS === jobProcess.periodicity 
              || periodicityEnum.DE_HORAS_EM_HORAS === jobProcess.periodicity">
          <label class="form-label">{{ 'process.label.periodicity.valuex' | translate }}*:</label>
          <input id="idValueXNew" name="idValueXNew" class="form-control"
            [(ngModel)]="jobProcess.xValue" placeholder="{{ 'process.label.periodicity.valuex' | translate }}"
            maxlength="2" appNumbersOnly required/>
        </div>

        <div class="form-group col-4" *ngIf="periodicityEnum.DIARIAMENTE === jobProcess.periodicity
              || periodicityEnum.SEMANALMENTE === jobProcess.periodicity 
              || periodicityEnum.MENSALMENTE === jobProcess.periodicity
              || periodicityEnum.BIMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.TRIMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.SEMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.ANUALMENTE === jobProcess.periodicity
              || periodicityEnum.DURANTE_FDS === jobProcess.periodicity
              || periodicityEnum.TODA_SEMANA_EXCETO_FDS === jobProcess.periodicity
              || periodicityEnum.APENAS_DIAS_UTEIS === jobProcess.periodicity
              || periodicityEnum.PRIMEIRO_DIA_ANO === jobProcess.periodicity
              || periodicityEnum.ULTIMO_DIA_ANO === jobProcess.periodicity">
          <label class="form-label">{{ 'process.label.periodicity.timeexecution' | translate }}*:</label>
          <p-calendar id="idTimeExecutionNew" name="idTimeExecutionNew" styleClass="w-100"
            inputStyleClass="form-control" timeOnly="true" timeSeparator=":"
            [(ngModel)]="jobProcess.timeExecution" [stepMinute]="5"
            [locale]="calendarLocale.getLocale()" [dateFormat]="calendarLocale.getLocale().dateFormat" autocomplete="off" required></p-calendar>
        </div>

        <div class="form-group col-4" *ngIf="periodicityEnum.SEMANALMENTE === jobProcess.periodicity">
          <label class="form-label">{{ 'process.label.periodicity.weekday' | translate }}*:</label>
          <select id="idWeekDayNew" name="idWeekDayNew" class="custom-select" 
            [(ngModel)]="jobProcess.weekDay" required>
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option *ngFor="let wd of jobProcessData.weekDays" [ngValue]="wd.id">{{ wd.description }}</option>
          </select>
        </div>

        <div class="form-group col-4" *ngIf="periodicityEnum.MENSALMENTE === jobProcess.periodicity
              || periodicityEnum.BIMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.TRIMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.SEMESTRALMENTE === jobProcess.periodicity
              || periodicityEnum.ANUALMENTE === jobProcess.periodicity">
          <label class="form-label">Dia do mês*:</label>
          <select id="idMonthDayNew" name="idMonthDayNew" class="custom-select"
            [(ngModel)]="jobProcess.monthDay" required>
            <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
            <option *ngFor="let md of jobProcessData.monthDays" [ngValue]="md">
              {{ (md === 99) ? ('process.label.periodicity.lastday' | translate) : (('process.label.periodicity.day' | translate) + md) }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4" *ngIf="typeExecutionEnum.AUTO === jobProcess.typeExecution">
          <label class="form-label">{{ 'process.label.periodicity.start' | translate }}:</label>
          <p-calendar id="idPeriodicityStartNew" name="idPeriodicityStartNew" styleClass="w-100"
            [(ngModel)]="jobProcess.periodicityStartDate" inputStyleClass="form-control"
            monthNavigator="true" yearNavigator="true" yearRange="2019:2100"
            [locale]="calendarLocale.getLocale()" [dateFormat]="calendarLocale.getLocale().dateFormat"
            placeholder="{{ 'process.label.periodicity.start' | translate }}"
            (onSelect)="onChangePeriodicityStart()" autocomplete="off" mask="true" pattern="dd/MM/yyyy" appDateFormat></p-calendar>
        </div>

        <div class="form-group col-md-4" *ngIf="typeExecutionEnum.AUTO === jobProcess.typeExecution">
          <label class="form-label">{{ 'process.label.periodicity.end' | translate }}:</label>
          <p-calendar id="idPeriodicityEndNew" name="idPeriodicityEndNew" styleClass="w-100"
            [(ngModel)]="jobProcess.periodicityEndDate" inputStyleClass="form-control"
            monthNavigator="true" yearNavigator="true" yearRange="2019:2100"
            [locale]="calendarLocale.getLocale()" [dateFormat]="calendarLocale.getLocale().dateFormat"
            placeholder="{{ 'process.label.periodicity.end' | translate }}"
            [minDate]="jobProcess.periodicityStartDate" autocomplete="off" appDateFormat></p-calendar>
        </div>

        <div class="form-group col-md-12">
          <label class="form-label">{{ 'process.label.tags' | translate }}:</label>
          <p-chips id="idTagsNew" name="idTagsNew"
            styleClass="form-control" placeholder="{{ 'process.label.tags' | translate }}" 
            [(ngModel)]="jobProcess.tags"></p-chips>
        </div>
      </div>

      <div class="card">
        <div class="card-header with-elements">
          <span class="card-header-title mr-2">Step's</span>
          <div class="card-header-elements ml-md-auto">
            <button type="button" class="btn btn-xs btn-outline-secondary" (click)="newParallelStep()">
              <span class="ion ion-md-add"></span>
              {{ 'step.new.parallel' | translate }}
            </button>
            <button type="button" class="btn btn-xs btn-outline-primary" (click)="newStep()">
              <span class="ion ion-md-add"></span>
              {{ 'step.new' | translate }}
            </button>
          </div>
        </div>

        <div class="card-body">
            <p-table [value]="jobProcess.stepsProcesses"
                    styleClass="table-responsive"
                    tableStyleClass="table table-striped table-bordered">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 90px;">{{ 'step.label.order' | translate }}</th>
                  <th>{{ 'general.label.name' | translate }}</th>
                  <th style="width: 200px">{{ 'step.label.type' | translate }}</th>
                  <th style="width: 100px;">{{ 'general.label.status' | translate }}</th>
                  <th class="text-center" style="width: 190px;">{{ 'general.label.options' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-step>
                <tr>
                  <td>{{ step.order }}</td>
                  <td>{{ step.idStep }}</td>
                  <td>{{ typeStepProcessEnum[step.type] }}</td>
                  <td>{{ (step.status === statusEnum.ENABLED) ? ('general.label.enabled' | translate) : ('general.label.disabled' | translate) }}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-xs btn-outline-info ml-1" (click)="editStep(step)" [title]="'general.button.edit' | translate"
                      *ngIf="typeStepProcessEnum.STEP_PARALLEL !== step.type">
                      <span class="ion ion-md-create"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-info ml-1" (click)="editParallelStep(step)" [title]="'general.button.edit' | translate"
                      *ngIf="typeStepProcessEnum.STEP_PARALLEL === step.type">
                      <span class="ion ion-md-create"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-danger ml-1" (click)="enableDisableStep(step)" [title]="'general.button.disable' | translate" *ngIf="step.status === statusEnum.ENABLED">
                      <span class="ion ion-md-close"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-success ml-1" (click)="enableDisableStep(step)" [title]="'general.button.enable' | translate" *ngIf="step.status === statusEnum.DISABLED">
                      <span class="ion ion-md-checkmark"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-warning ml-1" (click)="deleteStep(step)" [title]="'general.button.delete' | translate">
                      <span class="ion ion-md-trash"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="setToDown(step)" [title]="'step.button.down' | translate"
                      *ngIf="jobProcess.stepsProcesses.length > 1 && step.order < jobProcess.stepsProcesses.length">
                      <span class="ion ion-md-arrow-down"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="stepToUp(step)" [title]="'step.button.up' | translate"
                      *ngIf="jobProcess.stepsProcesses.length > 1 && step.order > 1">
                      <span class="ion ion-md-arrow-up"></span>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </div>
      </div>

      <div class="text-right pt-4">
        <button id="idBtnBack" type="button" class="btn btn-default mr-2" (click)="backToQuery()">{{ 'general.button.back' | translate }}</button>
        <button id="idBtnClear" type="button" class="btn btn-default mr-2">{{ 'general.button.clear' | translate }}</button>
        <button id="idBtnSearch" type="submit" class="btn btn-primary" [disabled]="!processForm.valid">{{ 'general.button.save' | translate }}</button>      
      </div>
    </div>
  </div>
</form>

<!-- Modal Save Step -->
<div class="modal fade" id="idModalStepSave" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <form id="formStepSave" class="modal-content" #stepForm="ngForm" (ngSubmit)="saveStep(stepForm);">
      <div class="modal-header">
        <h5 class="modal-title">
          Step
          <span class="font-weight-light">{{ 'general.label.data' | translate }}</span>
          <br>
          <small class="text-muted">{{ 'step.insert.subtitle' | translate }}</small>
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="closeStep(stepForm)">×</button>
      </div>
      <div class="modal-body">
        <div class="form-row" *ngIf="stepProcess">
          <div class="form-group col-12">
            <label class="form-label">{{ 'process.label.id' | translate }}*:</label>
            <input id="idStepIdNew" name="idStepIdNew" type="text" [(ngModel)]="stepProcess.idStep"
              class="form-control" placeholder="{{ 'process.label.id' | translate }}" required/>
          </div>
          
          <div class="form-group col-md-4">
            <label class="form-label">{{ 'agent.label.type' | translate }}*:</label>
            <select id="idTypeAgentNew" name="idTypeAgentNew" class="custom-select"
              [(ngModel)]="stepProcess.typeAgent" (change)="onChangeAgentType()" required>
              <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
              <option [ngValue]="agentTypeEnum.Localhost">Localhost</option>
              <option [ngValue]="agentTypeEnum.Linux">Linux</option>
              <option [ngValue]="agentTypeEnum.Unix">Unix</option>
              <option [ngValue]="agentTypeEnum.Windows">Windows</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label class="form-label">{{ 'agent.title' | translate }}*:</label>
            <select id="idAgentNew" name="idAgentNew" class="custom-select"
              [(ngModel)]="stepProcess.idAgent" [disabled]="agentTypeEnum.Localhost === stepProcess.typeAgent" required>
              <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
              <option *ngFor="let a of agents" [ngValue]="a.id">{{ a.address + ':' + a.port }}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label class="form-label">{{ 'step.label.type' | translate }}*:</label>
            <select id="idTypeStepNew" name="idTypeStepNew" class="custom-select"
              [(ngModel)]="stepProcess.type" (change)="onChangeTypeStep()" required>
              <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
              <option [ngValue]="typeStepProcessEnum.SCRIPT_BASH">Script Bash</option>
              <option [ngValue]="typeStepProcessEnum.COMMAND_BASH">Command Bash</option>
              <option [ngValue]="typeStepProcessEnum.SCRIPT_JAVA">Execute Jar</option>
              <option [ngValue]="typeStepProcessEnum.JOB_PROCESS">Execute Inner Job</option>
              <option [ngValue]="typeStepProcessEnum.REST_WS">Rest WS</option>
              <option [ngValue]="typeStepProcessEnum.SLEEP">Sleep Task</option>
              <option [ngValue]="typeStepProcessEnum.MOVE_FILES_LINUX">Move Files (Linux)</option>
              <option [ngValue]="typeStepProcessEnum.COPY_FILES_LINUX">Copy Files (Linux)</option>
              <option [ngValue]="typeStepProcessEnum.SCRIPT_BATCH">Script batch (DOS)</option>
              <option [ngValue]="typeStepProcessEnum.COMMAND_BATCH">Command batch (DOS)</option>
            </select>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.SCRIPT_BASH === stepProcess.type">
            <label class="form-label">{{ 'step.label.scriptbash' | translate }}*:</label>
            <textarea id="idScriptBashNew" name="idScriptBashNew" [(ngModel)]="stepProcess.scriptBash"
              class="form-control" placeholder="{{ 'step.label.scriptbash' | translate }}"
              [mention]="jobProcessData.parameters" [mentionConfig]="{triggerChar:'#',labelKey:'name',mentionSelect: selectParameter}" required></textarea>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.COMMAND_BASH === stepProcess.type">
            <label class="form-label">{{ 'step.label.commandbash' | translate }}*:</label>
            <textarea id="idCommandBashNew" name="idCommandBashNew" [(ngModel)]="stepProcess.commandBash"
              class="form-control" placeholder="{{ 'step.label.commandbash' | translate }}" required></textarea>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.SCRIPT_BATCH === stepProcess.type">
            <label class="form-label">{{ 'step.label.scriptbatch' | translate }}*:</label>
            <textarea id="idScriptBatchNew" name="idScriptBatchNew" [(ngModel)]="stepProcess.scriptBatch"
              class="form-control" placeholder="{{ 'step.label.scriptbatch' | translate }}" required></textarea>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.COMMAND_BATCH === stepProcess.type">
            <label class="form-label">{{ 'step.label.commandbatch' | translate }}*:</label>
            <textarea id="idCommandBatchNew" name="idCommandBatchNew" [(ngModel)]="stepProcess.commandBatch"
              class="form-control" placeholder="{{ 'step.label.commandbatch' | translate }}" required></textarea>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.SCRIPT_JAVA === stepProcess.type">
            <label class="form-label">{{ 'step.label.jarfile' | translate }}*:</label>
            <textarea id="idScriptJarNew" name="idScriptJarNew" [(ngModel)]="stepProcess.jarPath"
              class="form-control" placeholder="{{ 'step.label.jarfile' | translate }}" required></textarea>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.JOB_PROCESS === stepProcess.type">
            <label class="form-label">{{ 'step.label.innerjob' | translate }}*:</label>
            <select id="idInnerJobStepNew" name="idInnerJobStepNew" class="custom-select"
              [(ngModel)]="stepProcess.idInnerJobProcess" required>
              <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
              <option *ngFor="let ij of innerJobs" [ngValue]="ij.id">{{ ij.idProcess }}</option>
            </select>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.SCRIPT_BASH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_BATCH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_JAVA === stepProcess.type
              || typeStepProcessEnum.COMMAND_BASH === stepProcess.type
              || typeStepProcessEnum.COMMAND_BATCH === stepProcess.type">
            <label class="form-label">{{ 'step.label.logpath' | translate }}:</label>
            <input id="idPathLogNew" name="idPathLogNew" [(ngModel)]="stepProcess.logPath"
              class="form-control" placeholder="{{ 'step.label.logpath' | translate }}"/>
          </div>
          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.SCRIPT_BASH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_BATCH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_JAVA === stepProcess.type
              || typeStepProcessEnum.COMMAND_BASH === stepProcess.type
              || typeStepProcessEnum.COMMAND_BATCH === stepProcess.type">
            <label class="form-label">{{ 'step.label.logname' | translate }}:</label>
            <input id="idNameLogNew" name="idNameLogNew" [(ngModel)]="stepProcess.logName"
              class="form-control" placeholder="{{ 'step.label.logname' | translate }}"/>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">URL Rest*:</label>
            <input id="idUrlRestNew" name="idUrlRestNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restUrl" placeholder="URL Rest" required />
          </div>
          
          <div class="form-group col-12" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.postparameter' | translate }}:</label>
            <input id="idPostParameterNew" name="idPostParameterNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restPostParameter" placeholder="{{ 'step.label.postparameter' | translate }}" />
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.type' | translate }}*:</label>
            <select id="idRestTypeNew" name="idRestTypeNew" class="custom-select"
              [(ngModel)]="stepProcess.restType" required>
              <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
              <option value="application/json">application/json</option>
              <option value="application/xml">application/xml</option>
            </select>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.urlresponseattribute' | translate }}*:</label>
            <input id="idLinkAttributeNew" name="idLinkAttributeNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restLinkAttribute" placeholder="{{ 'step.label.urlresponseattribute' | translate }}" required/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.statusattribute' | translate }}*:</label>
            <input id="idStatusAttributeNew" name="idStatusAttributeNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restStatusAttribute" placeholder="{{ 'step.label.statusattribute' | translate }}" required/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.logattribute' | translate }}:</label>
            <input id="idLogAttributeNew" name="idLogAttributeNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restLogAttribute" placeholder="{{ 'step.label.logattribute' | translate }}"/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.statusok' | translate }}*:</label>
            <input id="idValueStatusOkNew" name="idValueStatusOkNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restStatusValueOk" placeholder="{{ 'step.label.statusok' | translate }}" required/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.REST_WS === stepProcess.type">
            <label class="form-label">{{ 'step.label.statuserror' | translate }}*:</label>
            <input id="idValueStatusErrorNew" name="idValueStatusErrorNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.restStatusValueError" placeholder="{{ 'step.label.statuserror' | translate }}" required/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.SLEEP === stepProcess.type">
            <label class="form-label">{{ 'step.label.timesleep' | translate }}*:</label>
            <p-calendar id="idTimeExecutionNew" name="idTimeExecutionNew" styleClass="w-100"
              inputStyleClass="form-control" timeOnly="true" timeSeparator=":"
              [(ngModel)]="stepProcess.timeSleep"
              [locale]="calendarLocale.getLocale()" [dateFormat]="calendarLocale.getLocale().dateFormat" autocomplete="off" required></p-calendar>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.MOVE_FILES_LINUX === stepProcess.type
              || typeStepProcessEnum.COPY_FILES_LINUX === stepProcess.type">
            <label class="form-label">{{ 'step.label.originpath' | translate }}*:</label>
            <input id="idOriginFolderNew" name="idOriginFolderNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.pathOrigin" placeholder="{{ 'step.label.originpath' | translate }}" required/>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.MOVE_FILES_LINUX === stepProcess.type
              || typeStepProcessEnum.COPY_FILES_LINUX === stepProcess.type">
            <label class="form-label">{{ 'step.label.destinypath' | translate }}*:</label>
            <input id="idDestinyFolderNew" name="idDestinyFolderNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.pathDestiny" placeholder="{{ 'step.label.destinypath' | translate }}" required/>
          </div>

          <div class="form-group col-12" *ngIf="typeStepProcessEnum.MOVE_FILES_LINUX === stepProcess.type
              || typeStepProcessEnum.COPY_FILES_LINUX === stepProcess.type">
            <label class="form-label">{{ 'step.label.patternname' | translate }}*:</label>
            <input id="idNamePatternNew" name="idNamePatternNew" class="form-control" type="text"
              [(ngModel)]="stepProcess.filePattern" placeholder="{{ 'step.label.patternname' | translate }}" required/>
          </div>

          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.SCRIPT_BASH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_BATCH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_JAVA === stepProcess.type
              || typeStepProcessEnum.COMMAND_BASH === stepProcess.type
              || typeStepProcessEnum.COMMAND_BATCH === stepProcess.type
              || typeStepProcessEnum.REST_WS === stepProcess.type
              || typeStepProcessEnum.MOVE_FILES_LINUX === stepProcess.type
              || typeStepProcessEnum.COPY_FILES_LINUX === stepProcess.type">
            <label class="custom-control custom-checkbox mt-4 ml-2">
              <input id="idContinueIfErrorNew" name="idContinueIfErrorNew" type="checkbox" 
                class="custom-control-input" [(ngModel)]="stepProcess.continueIfError" />
              <span class="custom-control-label">{{ 'step.label.continueiferror' | translate }}</span>
            </label>
          </div>
          <div class="form-group col-md-6" *ngIf="typeStepProcessEnum.SCRIPT_BASH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_BATCH === stepProcess.type
              || typeStepProcessEnum.SCRIPT_JAVA === stepProcess.type
              || typeStepProcessEnum.COMMAND_BASH === stepProcess.type
              || typeStepProcessEnum.COMMAND_BATCH === stepProcess.type
              || typeStepProcessEnum.REST_WS === stepProcess.type
              || typeStepProcessEnum.SLEEP === stepProcess.type
              || typeStepProcessEnum.MOVE_FILES_LINUX === stepProcess.type
              || typeStepProcessEnum.COPY_FILES_LINUX === stepProcess.type">
            <label class="custom-control custom-checkbox mt-4 ml-2">
              <input id="idAskToContinueNew" name="idAskToContinueNew" type="checkbox" 
                class="custom-control-input" [(ngModel)]="stepProcess.askToContinue" (change)="onChangeAskToContinue()" />
              <span class="custom-control-label">{{ 'step.label.asktocontinue' | translate }}?</span>
            </label>
          </div>

          <div class="form-group col-12" *ngIf="stepProcess.askToContinue">
            <label class="form-label">{{ 'step.label.asktocontinuemessage' | translate }}:</label>
            <input id="idAskContinueMessageNew" name="idAskContinueMessageNew" [(ngModel)]="stepProcess.askToContinueMessage"
              class="form-control" placeholder="{{ 'step.label.asktocontinuemessage' | translate }}"/>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeStep(stepForm)">{{ 'general.button.close' | translate }}</button>
        <button class="btn btn-primary" [disabled]="!stepForm.valid">{{ 'general.button.save' | translate }}</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Status Step -->
<div class="modal fade" id="idModalStepStatus">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Step
          <span class="font-weight-light">{{ 'general.label.status' | translate }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      </div>
      <div class="modal-body">
        <div class="form-row" *ngIf="stepProcess">
          <span *ngIf="stepProcess.status === 1">{{ 'step.status.disable.confirm' | translate }}</span>
          <span *ngIf="stepProcess.status === 0">{{ 'step.status.enable.confirm' | translate }}</span>
          <span class="font-weight-bold" style="white-space: pre-wrap;"> {{ stepProcess.idStep }}</span> ?
        </div>
      </div>
      <div class="modal-footer" *ngIf="stepProcess">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.button.no' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="confirmEnableDisableStep(statusEnum.ENABLED)" *ngIf="stepProcess.status === 0">{{ 'general.button.yes' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="confirmEnableDisableStep(statusEnum.DISABLED)" *ngIf="stepProcess.status === 1">{{ 'general.button.yes' | translate }}</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Delete Step -->
<div class="modal fade" id="idModalStepDelete">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Step
          <span class="font-weight-light">{{ 'general.label.delete' | translate }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      </div>
      <div class="modal-body">
        <div class="form-row" *ngIf="stepProcess">
          <span >{{ 'step.status.delete.confirm' | translate }}</span>
          <span class="font-weight-bold" style="white-space: pre-wrap;"> {{ stepProcess.idStep }}</span> ?
        </div>
      </div>
      <div class="modal-footer" *ngIf="stepProcess">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.button.no' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="confirmDeleteStep()">{{ 'general.button.yes' | translate }}</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Parallel Step -->
<div class="modal fade" id="idModalParallelStep" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <form id="formParallelStepSave" class="modal-content" #parallelStepForm="ngForm" (ngSubmit)="saveParallelStep(parallelStepForm)" >
      <div class="modal-header">
        <h5 class="modal-title">
          Step
          <span class="font-weight-light">Paralelo</span>
          <br>
          <small class="text-muted">Dados para step paralelo</small>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      </div>
      <div class="modal-body">
        <div class="form-row" *ngIf="parallelStep">
          <div class="form-group col-12">
            <label class="form-label">{{ 'process.label.id' | translate }}*:</label>
            <input id="idStepParallelIdNew" name="idStepParallelIdNew" type="text" [(ngModel)]="parallelStep.idStep"
              class="form-control" placeholder="{{ 'process.label.id' | translate }}" required/>
          </div>
        </div>
        <div class="text-right pt-2 pb-2" *ngIf="parallelStep">
          <button type="button" class="btn btn-xs btn-outline-primary" (click)="newStepForParallel()">
            <span class="ion ion-md-add"></span>
            {{ 'step.new' | translate }}
          </button>
        </div>
        <p-table [value]="parallelStep.stepsParallels"
                *ngIf="parallelStep"
                styleClass="table-responsive"
                tableStyleClass="table table-striped table-bordered">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ 'process.label.id' | translate }}</th>
              <th style="width: 200px">{{ 'step.label.type' | translate }}</th>
              <th style="width: 100px;">{{ 'general.label.status' | translate }}</th>
              <th class="text-center" style="width: 150px;">{{ 'general.label.options' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-step>
            <tr>
              <td>{{ step.idStep }}</td>
              <td>{{ typeStepProcessEnum[step.type] }}</td>
              <td>{{ (step.status === statusEnum.ENABLED) ? ('general.label.enabled' | translate) : ('general.label.disabled' | translate) }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="editStepForParallel(step)" [title]="'general.button.edit' | translate">
                  <span class="ion ion-md-create"></span>
                </button>
                <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="enableDisableStepForParallel(step)" [title]="'general.button.disable' | translate" *ngIf="step.status === statusEnum.ENABLED">
                  <span class="ion ion-md-close"></span>
                </button>
                <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="enableDisableStepForParallel(step)" [title]="'general.button.enable' | translate" *ngIf="step.status === statusEnum.DISABLED">
                  <span class="ion ion-md-checkmark"></span>
                </button>
                <button type="button" class="btn btn-xs btn-outline-secondary ml-1" (click)="deleteStepForParallel(step)" [title]="'general.button.delete' | translate">
                  <span class="ion ion-md-trash"></span>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="modal-footer" *ngIf="parallelStep">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="parallelStepForm.resetForm()">{{ 'general.button.close' | translate }}</button>
        <button class="btn btn-primary" [disabled]="!parallelStepForm.valid">{{ 'general.button.save' | translate }}</button>
      </div>
    </form>
  </div>
</div>