<div class="row pt-4 pb-3">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_lenght">
        <div class="col-md-12">
          <div class="col-md-12">
            <div style="width: 3rem; float: left; padding-top: 0.2rem;">
              {{ 'general.table.show.label' | translate }}
            </div>
            <div style="width: 4.5rem; float: left;">
              <select id="idQtdRows" name="idQtdRows" [(ngModel)]="rowsPerPage"
                  class="custom-select custom-select-sm" (change)="onChangeRows()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
              </select>
            </div>
            <div style="float: left; padding-left: 0.5rem; padding-top: 0.2rem;">
                {{ 'general.table.entries.label' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>