<div class="row pt-4 pb-3">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_lenght">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="table-rows-select-label" style="width: 3rem;">
              {{ 'general.table.show.label' | translate }}
            </div>
            <div class="table-rows-select">
              <select id="idQtdRows" name="idQtdRows" [(ngModel)]="rowsPerPage"
                  class="custom-select custom-select-sm" (change)="onChangeRows()">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
              </select>
            </div>
            <div class="table-rows-select-label" style="padding-left: 0.5rem;">
                {{ 'general.table.entries.label' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>