
<form id="formProcess" *ngIf="operation === operationEnum.QUERY">

  <app-card-filter id="filterProcess" buttonAddText="{{ 'process.new' | translate }}" (clickAddButton)="newProcess()" (clickSearchButton)="find()" showClearButton="true" (clickClearButton)="cleanFilter()">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="form-label">{{ 'process.label.id' | translate }}:</label>
        <input id="idProcess" name="idProcess" type="text" [(ngModel)]="filter.idProcess"
            class="form-control" placeholder="{{ 'process.label.id' | translate }}"/>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label">{{ 'process.label.typeexecution' | translate }}:</label>
        <select id="idTypeExecutionNew" name="idTypeExecutionNew" class="custom-select" [(ngModel)]="filter.typeExecution">
          <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
          <option [ngValue]="typeExecutionEnum.AUTO">{{ 'process.label.auto' | translate }}</option>
          <option [ngValue]="typeExecutionEnum.MANUAL">{{ 'process.label.manual' | translate }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label">{{ 'general.label.status' | translate }}:</label>
        <select id="idStatus" name="idStatus" class="custom-select" [(ngModel)]="filter.status">
          <option [ngValue]="null">{{ 'general.label.select' | translate }}</option>
          <option [ngValue]="statusEnum.ENABLED">{{ 'general.label.enabled' | translate }}</option>
          <option [ngValue]="statusEnum.DISABLED">{{ 'general.label.disabled' | translate }}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label">{{ 'process.label.tags' | translate }}:</label>
        <input id="idTags" name="idTags" type="text" [(ngModel)]="filter.tags"
            class="form-control" placeholder="{{ 'process.label.tags' | translate }}"/>
      </div>
    </div>
  </app-card-filter>

  <br/>
  <br/>

  <div class="card" *ngIf="totalRecords" >
    <div class="card-header">{{ 'agent.result' | translate }}</div>

    <!-- table rows-->
    <app-table-rows-select #jobsTableRows 
                           (reloadTable)="loadJobs($event)"></app-table-rows-select>

    <p-table [value]="jobs" 
             [paginator]="true"
             [(rows)]="jobsTableRows.rowsPerPage"
             [lazy]="true"
             [totalRecords]="totalRecords"
             (onLazyLoad)="loadJobs($event)"
             styleClass="table-responsive"
             tableStyleClass="table table-striped table-bordered">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'process.label.id' | translate }}</th>
          <th style="width: 20%;">{{ 'process.label.typeexecution' | translate }}</th>
          <th style="width: 20%;">{{ 'general.label.status' | translate }}</th>
          <th class="text-center" style="width: 15%;">{{ 'general.label.options' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-job>
        <tr>
          <td>{{ job.idProcess }}</td>
          <td>{{ (job.typeExecution === typeExecutionEnum.AUTO) ? ('process.label.auto' | translate) : ('process.label.manual' | translate) }}</td>
          <td>{{ (job.status === statusEnum.ENABLED) ? ('general.label.enabled' | translate) : ('general.label.disabled' | translate) }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-xs btn-outline-info ml-1" (click)="editProcess(job)" [title]="'general.button.edit' | translate">
              <span class="ion ion-md-create"></span>
            </button>
            <button type="button" class="btn btn-xs btn-outline-danger ml-1" (click)="enableDisableJob(job)" [title]="'general.button.disable' | translate" *ngIf="job.status === statusEnum.ENABLED">
              <span class="ion ion-md-close"></span>
            </button>
            <button type="button" class="btn btn-xs btn-outline-success ml-1" (click)="enableDisableJob(job)" [title]="'general.button.enable' | translate" *ngIf="job.status === statusEnum.DISABLED">
              <span class="ion ion-md-checkmark"></span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

<!-- Modal Status Job -->
<div class="modal fade" id="idModalJobStatus">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ 'process.title' | translate }}
          <span class="font-weight-light">{{ 'general.label.status' | translate }}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      </div>
      <div class="modal-body">
        <div class="form-row" *ngIf="job">
          <span *ngIf="job.status === 1">{{ 'process.status.disable.confirm' | translate }}</span>
          <span *ngIf="job.status === 0">{{ 'process.status.enable.confirm' | translate }}</span>
          <span class="font-weight-bold" style="white-space: pre-wrap;"> {{ job.idProcess }}</span> ?
        </div>
      </div>
      <div class="modal-footer" *ngIf="job">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'general.button.no' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="confirmEnableDisableJob(statusEnum.ENABLED)" *ngIf="job.status === 0">{{ 'general.button.yes' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="confirmEnableDisableJob(statusEnum.DISABLED)" *ngIf="job.status === 1">{{ 'general.button.yes' | translate }}</button>
      </div>
    </form>
  </div>
</div>