<div [id]="id" class="card md-4">
  <!--<h6 class="card-header">Search</h6>-->
  <div class="card-header with-elements">
    <span class="card-header-title mr-2">{{ 'general.title.search' | translate }}</span>
    <div class="card-header-elements ml-md-auto">
      <a class="btn btn-xs btn-outline-secondary" data-toggle="collapse" href="#{{ id }}-accordion" aria-expanded="false">
        <span class="ion ion-md-search"></span>
        {{ 'general.button.filter' | translate }}
      </a>
      <button type="button" class="btn btn-xs btn-outline-primary" (click)="newElement()">
        <span class="ion ion-md-add"></span>
        {{ buttonAddText }}
      </button>
    </div>
  </div>

  <div id="{{ id }}-accordion" class="collapse">
    <div class="card-body">

      <ng-content></ng-content>

      <div class="text-right">
        <button id="idBtnClear" type="button" class="btn btn-default mr-2" (click)="clearFilter()" *ngIf="showClearButton">{{ 'general.button.clear' | translate }}</button>
        <button id="{{ id }}-btn-search" type="button" class="btn btn-default" (click)="searchElement()">{{ 'general.button.search' | translate }}</button>      
      </div>
    </div>
  </div>
</div>
  